<html>
<h2>SENTIMENTAL ANALYSIS OF IPHONE 7</h2>
<body>
    <body style="background-color:LightGray;">
    

      <div>
        <img src=https://c0.wallpaperflare.com/preview/57/463/749/black-iphone-7-plus-iphone.jpg alt="Girl in a jacket" style="width:1500px;height:1000px;">
        
         
          
        </div>     
        
      
    
    
        <h1>Welcome To Sentiment Analyzer</h1>
        <form method="POST">
            <textarea name="text1" placeholder="Say Something: ...." style="background-color:white" rows="10" cols="109"></textarea><br><br>

            <input class="example_a" type="submit">
        </form>
        {% if final %}
        <div>
            <p>'{{ text1 }}'</p> <h2>The value is {{ final }} </h2> <h2> The sentiment is {{ pnn }} <h1>{{em}}</h1></h2> <h1><center> Thank You!</center></h1>
            {% else %}
            <p></p>
            {% endif %}
        </div>
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
        
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
        
      </ul>
    </div>
  </div>
</nav>
        
        
    
  </form>
</footer>
    </body>
</html>
